@model List<OnlineStore.Models.CartItem>
<div class="col-md-4">
    <div id="cart"><a class="btn btn-1 right" href="/Cart"><span class="glyphicon glyphicon-shopping-cart"></span>Giỏ hàng : @Model.Count sản phẩm</a></div>
</div>
